body {
  font-size: 100%;
  width: 95%;
  margin: auto;
}

table {
  margin-bottom: 1rem;
}

#form {
  margin-top: 5rem;
  display: none;
}

#form input {
  margin-bottom: 1rem;
}

table, th, td {
  border: 0.2rem solid skyblue;
  border-collapse: collapse;
  text-align: left;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
}

h1 {
  margin-bottom: 5rem;
  font-size: 300%;
}